* { box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
  list-style: none;
}

.logo img{
  width: 200px;
}

nav {
  height: 80px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.nav_left ul li {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.nav_left ul li a{
  color: black;
}




.nav_left {
  width: 40%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.nav_left a {
  margin-left: 20px;
}

.nav_right {
  height: 80px;
  width: 60%;
  /* border: 1px solid darkorange; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.nav_right ul {
  display: flex;
}
.nav_right ul li {
  margin-left: 40px;
  cursor: pointer;

}

.pannello_help {
  display: none;
  position: absolute;
  top: 80px;
  right: 170px;
  display: none;
  width: 150px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px 10px lightgrey;
}

.pannello_azienda {
  display: none;
  position: absolute;
  top: 80px;
  right: 270px;
  width: 150px;
  height: 350px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px 10px lightgrey;

}
.pannello_prod {
  display: none;
  position: absolute;
  top: 80px;
  right: 370px;
  width: 150px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px 10px lightgrey;

}
.pannello_costi {
  display: none;
  position: absolute;
  top: 80px;
  right: 450px;
  width: 150px;
  height: 500px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px 10px lightgrey;

}
.pannello_funz {
  display: none;
  position: absolute;
  top: 80px;
  right: 300px;
  width: 900px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px 10px lightgrey;

}



.active {
  display: flex;
}
