* { box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
  list-style: none;
}

.logo img{
  width: 200px;
}

nav {
  height: 80px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.nav_left ul li {
  display: inline-block;
}



.nav_left {
  width: 40%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.nav_left a {
  margin-left: 20px;
}

.nav_right {
  height: 80px;
  width: 60%;
  /* border: 1px solid darkorange; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.nav_right ul {
  display: flex;
}
.nav_right ul li {
  margin-left: 40px;
}

.pannello_help {
  display: none;
  position: absolute;
  top: 80px;
  right: 170px;
  border: 1px solid black;
  display: none;
  width: 150px;
  height: 300px;
}

.pannello_azienda {
  display: none;
  position: absolute;
  top: 80px;
  right: 270px;
  border: 1px solid darkmagenta;
  width: 150px;
  height: 500px;
}
.pannello_prod {
  display: none;
  position: absolute;
  top: 80px;
  right: 370px;
  border: 1px solid darkmagenta;
  width: 150px;
  height: 500px;
}
.pannello_costi {
  display: none;
  position: absolute;
  top: 80px;
  right: 450px;
  border: 1px solid darkmagenta;
  width: 150px;
  height: 500px;
}
.pannello_tariffe {
  display: none;
  position: absolute;
  top: 80px;
  right: 570px;
  border: 1px solid darkmagenta;
  width: 150px;
  height: 500px;
}



.active {
  display: flex;
}
